ML Bootcamp 2021 - Week 2: Assignment

- In this week you will learn more about the Pandas library and implement Logistic Regression
- The comments will have most of the instructiions
- Attempt the questions using only python/pandas as much as possible as it is a very in-demand skill right now and learning it will be beneficial
- Use the Titanic Training dataset for all questions unless specified to use Test dataset

In [12]:
#Import the necessary libraries here
import numpy as np
import pandas as pd
from sklearn.linear_model import LogisticRegression # The Machine Learnig Algorithms
from sklearn.metrics import classification_report, mean_squared_error
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
df = pd.read_csv("./train.csv")
df.dropna(inplace=True)

## Q1. What is the most frequently occuring age for male and female? If more than one particular age occurs equal number of times, report the higher of the two

In [13]:
# Write your code below the comments in this cell
# Important
# Save your female age value in a variable called 'age_female'
# Save your male age value in a variable called 'age_male'

####Code Comes Here###

###Code Comes Here###

###Answers come here###

age_female = df["Age"][df["Sex"] == "female"].mode()
age_male = df["Age"][df["Sex"] == "male"].mode()
###Answers come here###

## Q2. Convert the 'Sex' feature of the Train dataset into categorical feature. This question would require you to first read about categorical features and how they look before proceeding.

- Read about categorical data first: https://www.kdnuggets.com/2021/05/deal-with-categorical-data-machine-learning.html
- Create a new column called "Sex_Category"
- Use the lambda and apply function to perform this task

In [91]:
# Write your code below the comments in this cell
# Important
# Finally your dataframe should have an additional column called "Sex_Category"
# This "Sex_Category" column should have the entry as 1 wherever the column "Sex" shows "female" and 0 wherever it shows "male"
# Do not remove the existing "Sex" column, instead create a new column based on this existing column
# I have already provided the code to create a new column for your dataframe called "df"
# Refer to the previous notebooks for reference

####Code Comes Here###

# append a new column
df['Sex_Category'] = df["Sex"].apply(lambda x: 1 if x == "female" else 0)

###Code Comes Here###

## Q3. Consider the "Age" and the "Fare" columns. These are known as Numerical features. Sometimes it is a good idea to scale these features(bring all the numerical features to one scale maybe between {0,1} or between {-1,1} so that the weights are not biased across the features

- Bring these two features to a common scale
- There are many techniques to do this and scikit-learn provides many built-in libraries. Try to explore them and see how you can apply them. You would need to import the appropriate libraries
- You can use anyone. Without using scikit-learn, the simplest scaler that you can implement manually is to make the mean 0 and standard deviation as 1
- In order to do this manual implementation all you need to do is take each value of "Age" and "Fare", subtract the mean(mean of full column) from each value and then divide that result by the standard devaition(standard deviation of full column)
- If you decide to use the manual process then take the mean of all values except the NULL/Missing values as otherwise you may get an error

In [94]:
# Write your code below the comments in this cell
# Important
# Finally your dataframe should have two additional columns called "Age_Normalized" and "Fare_Normalized"
# Do not remove the existing "Age" or "Fare" column, instead create new columns based on these existing columns
# Refer to the previous notebooks for reference and also Q2 to understand how to add new columns to an existing dataframe
# Use the apply and lambda function to perform the calculations
# If you choose to use the scikit-learn libraries then make sure to import them first at the very top cell

####Code Comes Here###

scaler = StandardScaler()
df["Age_Normalized"] = scaler.fit_transform(df[["Age"]])
df["Fare_Normalized"] = scaler.fit_transform(df[["Fare"]])
###Code Comes Here###

In [95]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Sex_Category,Age_Normalized,Fare_Normalized
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,1,0.149065,-0.097180
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,1,-0.043230,-0.335997
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S,0,1.174636,-0.352250
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S,1,-2.030273,-0.814070
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S,1,1.431029,-0.684702
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,D35,S,1,0.725949,-0.343166
872,873,0,1,"Carlsson, Mr. Frans Olof",male,33.0,0,0,695,5.0000,B51 B53 B55,S,0,-0.171426,-0.967737
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C,1,1.302832,0.058785
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,1,-1.068801,-0.639390
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,0,-0.620113,-0.639390

## Q4. Implement the ****Logistic**** function in Python based on the formula provided in the slides. All you need is provided in the numpy module or math module. There is a mistake, the place where I mention "Logit" function in the slides it is actually called "Logistic" function and not Logit function

In [96]:
# Write your code below the comments in this cell
# Important
# Define a function and name it "logistic_fn"
# Return the final result of the logistic function
# The equation of the logistic function is present in the slides
####Code Comes Here###
def logistic_fn(x):
    return 1/(1+np.exp(-x))

###Code Comes Here###

#Verification
# logistic_fn(1) --> 0.7310585786300049

## Q5. Using the above newly generated features, "Age_Normalized", "Fare_Normalized", "Sex_Category" and ****any other feature of your choice****. Implement the Logistic Regression Function just as was described in the last class notebook

- Import the Logistic Regression Function from scikit-learn
- Select the appropriate features first from your dataframe
- Create appropriate variables called x_train, x_test, y_train, y_test using the splitting function showed before. Split the Training dataset itself into two parts: Training and Testing(also called Validation)
- Use all the features that you created now and REMEMBER, an ML model only accepts Numerical features. Now you will understand the importance of converting categorical data to numbers
- Then train/fit() your training data to the Logistic Regression Model and then test/predict() it on your test dataset
- ****The problem here is "Titanic Survival Prediction". From this name think about what is the output/label for this classification task. That single column will be your y_train/y_test. It was also accounced in class as well****

- Keep the "random_state" paramenter inside the Logistic Regression function as any number of your choice and and report that number when submitting the assignment so that I can recreate your results. That number can be any integer

- Print out the classification_report as shown during the class

In [100]:
x_train, x_test, y_train, y_test = train_test_split(df[["Age_Normalized", "Fare_Normalized", "Sex_Category", "SibSp"]], df["Survived"],test_size=0.1, random_state=2) 
log_reg = LogisticRegression()
log_reg.fit(x_train,y_train)
predictions = log_reg.predict(x_test)
print(classification_report(y_test,predictions))

              precision    recall  f1-score   support

           0       0.62      0.71      0.67         7
           1       0.82      0.75      0.78        12

    accuracy                           0.74        19
   macro avg       0.72      0.73      0.72        19
weighted avg       0.75      0.74      0.74        19